* {
  box-sizing: border-box;
}

.body {
  background: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed;
  width: 330px;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-bottom: 450px;
  margin-top: 50px;
  text-align: center;
}
.body__2 {
  background: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed;
  display: flex;
  left: 50%;
}
.body__center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.foto {
  border-radius: 10px 10px 0px 0px;
}
.Game__info {
  background-color: #283e50;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 330px;
  height: fit-content;
  text-align: center;
}
.Game__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lobster', cursive;
  font-size: 40px;
}
.Game__rules {
  background-color: #1fcca4;
  color: #ffffff;
  font-family: sans-serif;
  height: 50px;
  border: 0px;
  font-size: 17px;
}
.Game__rules:hover {
  background-color: #1cbb96;
}
.Game__play {
  background-color: #0197f6;
  color: #ffffff;
  font-family: sans-serif;
  height: 50px;
  border: 0px;
  font-size: 17px;
}
.Game__play:hover {
  background-color: #0090e9;
}
.Game__footer {
  display: flex;
  flex-direction: column;
}
.Game__description {
  display: flex;
  flex-wrap: justify;
  font-family: sans-serif;
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}

ol {
  display: flex;
  flex-direction: column;
  padding: 10px 5px 10px 5px;
}
