* {
  box-sizing: border-box;
}

.body {
  background: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed;
  flex-direction: column;
  width: 330px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}
.body__2 {
  background: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
}
.body__center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.foto {
  border-radius: 10px 10px 0px 0px;
  width: 330px;
}
.Game__info {
  background-color: #283e50;
  font-family: sans-serif;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: fit-content;
  text-align: center;
}
.border {
  border-radius: 10px 10px 0px 0px;
}
.Game__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  border: 10px 10px 0px 0px;
}
.buttons__rules {
  background-color: #1fcca4;
  color: #ffffff;
  font-family: sans-serif;
  border: 0px;
  font-size: 17px;
  text-decoration: none;
  text-align: center;
  padding: 4%;
}
.buttons__rules:hover {
  background-color: #1cbb96;
}
.buttons__play {
  background-color: #0197f6;
  color: #ffffff;
  font-family: sans-serif;
  border: 0px;
  font-size: 17px;
  text-decoration: none;
  text-align: center;
  padding: 4%;
}
.buttons__play:hover {
  background-color: #0090e9;
}
.Game__footer {
  display: flex;
  flex-direction: column;
}
.Game__description {
  display: flex;
  font-family: sans-serif;
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  background-color: #283e50;
  color: #ffffff;
  flex-direction: column;
  height: fit-content;
  text-align: center;
}
.description {
  text-align: left;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  font-size: 16px;
  padding: 10px 15px 10px 10px;
}
figcaption {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  text-align: center;
  padding: 5px 10px 10px 10px;
}
.svg {
  filter: invert(100%);
  width: 1em;
  height: 1em;
}
img {
  width: 100%;
}

@media (min-width: 800px) {
  .pictures {
    display: flex;
    flex-wrap: wrap;
  }
  figure {
    flex-basis: calc(50% - 40px);
    margin: 20px;
  }
  .body__2 {
    max-width: 800px;
  }
} ;
